.pager {
    text-align: center;
}

.pager button {
    display: inline-block;
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
}

.pager input {
    color: inherit;
    background: var(--table-header);
    border: none;
    text-decoration: none;
    text-align: center;
    max-width: 4em;
}

.pager button:disabled {
    color: rgba(127,127,127,0.5);
}

.pager small {
    opacity: 0.6;
    padding: 4px;
}

/* remove input spinner */
.pager input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}