.left {
    float: left;
    width: 80%;
}

.right {
    float: right;
}

.headerNoBackground {
    padding: 4px 4px;
    position: relative;
    z-index: 10;
    margin: 1px 0px;
}

.header {
    background-color: rgba(127, 127, 127, 0.25);
    padding: 4px 4px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    margin: 1px 0px;
}

.header > ul, .headerNoBackground > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}