.table {
    border-collapse:collapse;
    display: block;
    overflow: auto;
    margin-bottom: 4px;
}

.table td, th {
    border:1px solid var(--light);
    padding:5px;
}

.table td {
    white-space: pre;
}

.table th {
    background: var(--dark);
}