.result-table {
    padding-bottom: 8px;
}

.result-table > table {
    border-collapse:collapse;
    display: block;
    overflow: auto;
    margin-bottom: 4px;
}

.result-table > table td, th {
    border:1px solid var(--table-border);
    padding:5px;
}

.result-table > table td {
    white-space: pre;
}

.result-table > table th {
    background: var(--table-header)
}

.enumerated tr td:first-child, tr th:first-child {
    font-style: italic;
    background: var(--table-header);
}

.result-table > table.no-result td::after {
    content: 'No result found';
}

/* enumerated table
table.enumerated {
    counter-reset: serial-number;
}

table.enumerated td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
 */

/* paginator */
.pagination button {
    display: none;
    color: inherit;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
}

.pagination button:first-child,.pagination button:last-child {
    display: inline-block;
    cursor: pointer;
}

.pagination input {
    color: inherit;
    background: var(--table-header);
    border: none;
    text-decoration: none;
    text-align: center;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.pagination button.active {
    /*display: inline-block;*/
}

.pagination button:disabled {
    color: rgba(127,127,127,0.5);
}

.pagination > select, .pagination > span {
    display: none;
}