
.result-header {
    background-color: rgba(127, 127, 127, 0.25);
    padding: 4px 4px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    margin: 1px 0px;
}

.result-header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.result-header > ul li.left {
    float: left;
}

.result-header > ul li.right {
    float: right;
}

.result-header-action {
    padding: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 2px 2px;
}

.stmt-wrapper {
    width: 80%;
}
