/* colors */
:root {
    --table-border: #ccc;
    --table-header: var(--vscode-sideBarSectionHeader-background); /*rgba(127, 127, 127, 0.5);*/
}

.separator {
    padding: 8px;
}

.result-wrapper {
    margin: 16px 0px;
}