/* colors */
:root {
    --table-border: #ccc;
    --table-header: var(--vscode-sideBarSectionHeader-background); /*rgba(127, 127, 127, 0.5);*/
}

.separator {
    height: 8px;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.result-wrapper {
    margin: 16px 0px;
}

#section-query-results {
    
}