/* colors */
:root {
    --bg-white: #dddddd;
    --bg-white-focus: #d2d2d2;
    --bg-gray: #c0c0c0;
    --font-black: #141414;
}

/* enumerated table */
.enumerated {
    counter-reset: serial-number;
}

.enumerated td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

.enumerated tr td:first-child, tr th:first-child {
    font-style: italic;
    min-width: 1.2em;
    color: var(--font-black);
    background-color: var(--bg-white);
}

/* query result */
#section-query-result {
    margin-top: 8px;
    margin-bottom: 8px;
}

.table-wrapper {
    max-width: 100%;
    max-height: calc(100vh - 48px - 8em);
    overflow: auto;
    margin-top:8px;
    margin-bottom: 8px;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid var(--bg-gray);
    padding: 4px;
}

table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    color: var(--font-black);
    background-color: var(--bg-white);
}

table .cell {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 120px;
    user-select: none;
    cursor: pointer;
}

table .cell:hover {
    background-color: rgba(0, 0, 0, 0.15);
}