.statement {
    white-space: pre-line;
}
.code {
    cursor: default;
    font-family: monospace;
}

.statementCollapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}